.productDiv{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
    background-color: white;
}

.productImg{
    height: 50px;
    border: 1px solid blue;
}

.productImg>img{
    height: 100%;
    width: auto;
}

.productName{
    display: flex;
    flex-direction: column;
}

.productQty{
    display: flex;
}

.productBtn{
    color: white;
    background-color: rgb(220, 78, 26);
    border-color: rgb(220, 78, 26);
    border-style: solid;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: center;
    margin: 1rem;
}

.productBtn:hover{
    cursor: pointer;
}