.outerDiv{
    margin: 1rem;
}

.productDiv{
    display: flex;
    border-bottom: 2px dotted lightgray;
    background-color: white;
}

.productImg{
    height: 40px;
    width: 75px;
}

.productImg>img{
    height: 100%;
    width: auto;
    mix-blend-mode: multiply;
}

.productName{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.productQty{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 1rem;
 }

.productBtn{
    color: white;
    background-color: rgb(220, 78, 26);
    border-color: rgb(220, 78, 26);
    border-style: solid;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: center;
    margin: 0.5rem;
    font-weight: bolder;
}

.productBtn:hover{
    cursor: pointer;
}

.productPrice{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}