.deliveryDiv{
    border-top: 2px dotted lightgray;
    border-bottom: 2px dotted lightgray;
    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.icon{
    font-size: 1.5rem;
    color: rgb(152, 152, 152);
    width: 2rem;
}

div.deliveryDiv > div.deliveryChoice > input {
    visibility: hidden;
}

div.deliveryDiv > div.deliveryChoice > img {
    display: inline-block;
	height:20px;
	width:20px ;
	background: none;
    border: 2.5px solid orange;
    border-radius: 50%;
    border-collapse: separate; 
}

/* Only works if pressing the label */
div.deliveryDiv > div.deliveryChoice > input:checked  + img {
    background: url("./../../assets/checkmark.png");
    background-repeat: no-repeat;
	background-position:center center;
	background-size:15px 15px;
} 

.deliveryChoice{
    padding: 0.5rem;
}

.label{
    margin-left: 1rem;
    cursor: pointer;
}

.deliveryFee{
    float: right;
    font-size: 1.2rem;
}

.deliveryBreak{
    border-bottom: 2px dotted lightgray;
}

.checkoutDiv{
    margin-top: 1rem;
    float: right;
    margin-right: 1rem;
    display:flex;
}

.checkoutText{
    margin-right: 2.5rem;
}

.checkoutSumText {
    font-size: 1.7rem;
}
.checkoutTaxText{
    font-size: 0.75rem;
    float: right;
}

.totalSum{
    font-size: 1.7rem;

}
.taxSum{
    font-size: 0.75rem;
    float: right;

}
