.phoneDiv{
    background-color: lightgray;
    border: 1px solid lightgray;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: -1.5rem;
}

.innerPhoneDiv{
    display: flex;
    margin: 1.5rem;

}

.phoneForm{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.phoneLabel{
    font-size: 0.7rem;
}

.changePhone{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(95, 93, 93);
    margin-left: 5rem;
}

/* Remove the counter to the right */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phoneInput{
    border: 0;
    outline: 0; 
    width: 12.5rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    background-color: lightgray;
}

.spanDiv{
    display:flex;
}
.spanDiv > div {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    width: 1.33rem;
    height:0.2rem;
    border-left: 1px solid gray;
}
