.label{
    font-size: 0.7rem;
}

.ssnForm{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.birthDateInput{
    border: 0;
    outline: 0;
    width: 8rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    background-color: whitesmoke;
}

.lastFourInput {
    border: 0;
    outline: 0; 
    width: 5.5rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    background-color: whitesmoke;
}

.spanDiv{
    display:flex;
}
.spanDiv > div {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    
    /* 8rem / 6rem */
    width: 1.33rem;
    height:0.2rem;
    border-left: 1px solid gray;
}