.btn{
    border: 3px solid white;
    color: white;
    background-color: #ff6900;
    border-style: solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    cursor: pointer;
}