.header {
    display: flex;
    border: 1px solid white;
    height: 15vh;
    align-items: center;
    color: white;

}

.headerBtn{
    display: flex;
    border: 1px solid blue;
    height: 15vh;
    align-items: center;
    margin-left: 3rem;
} 

.extras{
    font-size: 1.25rem;
    margin-left: 1rem;
}

.headerTitle{
/*     margin-left: 10rem;
 */    font-size: 2.25rem;
}