.Row{
    display: flex;
    justify-content: center;
    
}

.keyValue{
    color: white;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    margin: 0.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}